<app-nav></app-nav>
<table class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <!-- ID -->
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor === 'id'"
        (click)="changeArrange('id')">
        <span *ngIf="compToSearch.Arrange === 'ASC'">
          id<i class="fa fa-sort-asc ml-1"></i>
        </span>
        <span *ngIf="compToSearch.Arrange === 'DESC'">
          id<i class="fa fa-sort-desc ml-1"></i>
        </span>
      </th>
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor !== 'id'"
        (click)="changeArrange('id')">
        id <i class="fa fa-unsorted"></i>
      </th>
      <!-- COMPANY NAME -->
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor === 'company_name'"
        (click)="changeArrange('company_name')">
        <span *ngIf="compToSearch.Arrange === 'ASC'">
          公司名稱<i class="fa fa-sort-asc ml-1"></i>
        </span>
        <span *ngIf="compToSearch.Arrange === 'DESC'">
          公司名稱<i class="fa fa-sort-desc ml-1"></i>
        </span>
      </th>
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor !== 'company_name'"
        (click)="changeArrange('company_name')">
        公司名稱 <i class="fa fa-unsorted"></i>
      </th>

      <!-- Address -->
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor === 'address'"
        (click)="changeArrange('address')">
        <span *ngIf="compToSearch.Arrange === 'ASC'">
          地區<i class="fa fa-sort-asc ml-1"></i>
        </span>
        <span *ngIf="compToSearch.Arrange === 'DESC'">
          地區<i class="fa fa-sort-desc ml-1"></i>
        </span>
      </th>
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor !== 'address'"
        (click)="changeArrange('address')">
        地區 <i class="fa fa-unsorted"></i>
      </th>
      <!-- "investment_type" -->
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor === 'investment_type'"
        (click)="changeArrange('investment_type')">
        <span *ngIf="compToSearch.Arrange === 'ASC'">
          投資類型<i class="fa fa-sort-asc ml-1"></i>
        </span>
        <span *ngIf="compToSearch.Arrange === 'DESC'">
          投資類型<i class="fa fa-sort-desc ml-1"></i>
        </span>
      </th>
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor !== 'investment_type'"
        (click)="changeArrange('investment_type')">
        投資類型 <i class="fa fa-unsorted"></i>
      </th>
      <!-- "announced_on" -->
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor === 'announced_on'"
        (click)="changeArrange('announced_on')">
        <span *ngIf="compToSearch.Arrange === 'ASC'">
          募資公佈日期<i class="fa fa-sort-asc ml-1"></i>
        </span>
        <span *ngIf="compToSearch.Arrange === 'DESC'">
          募資公佈日期<i class="fa fa-sort-desc ml-1"></i>
        </span>
      </th>
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor !== 'announced_on'"
        (click)="changeArrange('announced_on')">
        募資公佈日期 <i class="fa fa-unsorted"></i>
      </th>
      <!-- "raised_amount" -->
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor === 'raised_amount'"
        (click)="changeArrange('raised_amount')">
        <span *ngIf="compToSearch.Arrange === 'ASC'">
          已募得資金<i class="fa fa-sort-asc ml-1"></i>
        </span>
        <span *ngIf="compToSearch.Arrange === 'DESC'">
          已募得資金<i class="fa fa-sort-desc ml-1"></i>
        </span>
      </th>
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor !== 'raised_amount'"
        (click)="changeArrange('raised_amount')">
        已募得資金 <i class="fa fa-unsorted"></i>
      </th>
      <!-- "raised_currency_code" -->
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor === 'raised_currency_code'"
        (click)="changeArrange('raised_currency_code')">
        <span *ngIf="compToSearch.Arrange === 'ASC'">
          募得資金幣別<i class="fa fa-sort-asc ml-1"></i>
        </span>
        <span *ngIf="compToSearch.Arrange === 'DESC'">
          募得資金幣別<i class="fa fa-sort-desc ml-1"></i>
        </span>
      </th>
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor !== 'raised_currency_code'"
        (click)="changeArrange('raised_currency_code')">
        募得資金幣別 <i class="fa fa-unsorted"></i>
      </th>
      <!-- "post_amount" -->
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor === 'post_amount'"
        (click)="changeArrange('post_amount')">
        <span *ngIf="compToSearch.Arrange === 'ASC'">
          交易後估值<i class="fa fa-sort-asc ml-1"></i>
        </span>
        <span *ngIf="compToSearch.Arrange === 'DESC'">
          交易後估值<i class="fa fa-sort-desc ml-1"></i>
        </span>
      </th>
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor !== 'post_amount'"
        (click)="changeArrange('post_amount')">
        交易後估值 <i class="fa fa-unsorted"></i>
      </th>
      <!-- "post_currency_code" -->
      <th class="centered-th mx-auto p-2 perc10" scope="col"
        *ngIf="compToSearch.ArrangeFor === 'post_currency_code'"
        (click)="changeArrange('post_currency_code')">
        <span *ngIf="compToSearch.Arrange === 'ASC'">
          交易後估值幣別<i class="fa fa-sort-asc ml-1"></i>
        </span>
        <span *ngIf="compToSearch.Arrange === 'DESC'">
          交易後估值幣別<i class="fa fa-sort-desc ml-1"></i>
        </span>
      </th>
      <th class="centered-th mx-auto p-2 perc10" scope="col"
        *ngIf="compToSearch.ArrangeFor !== 'post_currency_code'"
        (click)="changeArrange('post_currency_code')">
        交易後估值幣別 <i class="fa fa-unsorted"></i>
      </th>
      <!-- capital_sought_amount -->
      <th class="centered-th mx-auto p-2 perc10" scope="col"
        *ngIf="compToSearch.ArrangeFor === 'capital_sought_amount'"
        (click)="changeArrange('capital_sought_amount')">
        <span *ngIf="compToSearch.Arrange === 'ASC'">
          預募得資金<i class="fa fa-sort-asc ml-1"></i>
        </span>
        <span *ngIf="compToSearch.Arrange === 'DESC'">
          預募得資金<i class="fa fa-sort-desc ml-1"></i>
        </span>
      </th>
      <th class="centered-th mx-auto p-2 perc10" scope="col"
        *ngIf="compToSearch.ArrangeFor !== 'capital_sought_amount'"
        (click)="changeArrange('capital_sought_amount')">
        預募得資金 <i class="fa fa-unsorted"></i>
      </th>
      <!-- capital_sought_currency_code -->
      <th class="centered-th mx-auto p-2 perc10" scope="col"
        *ngIf="compToSearch.ArrangeFor === 'capital_sought_currency_code'"
        (click)="changeArrange('capital_sought_currency_code')">
        <span *ngIf="compToSearch.Arrange === 'ASC'">
          預募得資金幣別<i class="fa fa-sort-asc ml-1"></i>
        </span>
        <span *ngIf="compToSearch.Arrange === 'DESC'">
          預募得資金幣別<i class="fa fa-sort-desc ml-1"></i>
        </span>
      </th>
      <th class="centered-th mx-auto p-2 perc10" scope="col"
        *ngIf="compToSearch.ArrangeFor !== 'capital_sought_currency_code'"
        (click)="changeArrange('capital_sought_currency_code')">
        預募得資金幣別 <i class="fa fa-unsorted"></i>
      </th>
      <!-- "investor_count" -->
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor === 'investor_count'"
        (click)="changeArrange('investor_count')">
        <span *ngIf="compToSearch.Arrange === 'ASC'">
          投資者數目<i class="fa fa-sort-asc ml-1"></i>
        </span>
        <span *ngIf="compToSearch.Arrange === 'DESC'">
          投資者數目<i class="fa fa-sort-desc ml-1"></i>
        </span>
      </th>
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor !== 'investor_count'"
        (click)="changeArrange('investor_count')">
        投資者數目 <i class="fa fa-unsorted"></i>
      </th>
      <!-- "investor_names" -->
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor === 'investor_names'"
        (click)="changeArrange('investor_names')">
        <span *ngIf="compToSearch.Arrange === 'ASC'">
          投資者名稱<i class="fa fa-sort-asc ml-1"></i>
        </span>
        <span *ngIf="compToSearch.Arrange === 'DESC'">
          投資者名稱<i class="fa fa-sort-desc ml-1"></i>
        </span>
      </th>
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor !== 'investor_names'"
        (click)="changeArrange('investor_names')">
        投資者名稱 <i class="fa fa-unsorted"></i>
      </th>
      <!-- url -->
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor === 'url'"
        (click)="changeArrange('url')">
        <span *ngIf="compToSearch.Arrange === 'ASC'">
          新聞連結<i class="fa fa-sort-asc ml-1"></i>
        </span>
        <span *ngIf="compToSearch.Arrange === 'DESC'">
          新聞連結<i class="fa fa-sort-desc ml-1"></i>
        </span>
      </th>
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor !== 'url'"
        (click)="changeArrange('url')">
        新聞連結 <i class="fa fa-unsorted"></i>
      </th>
      <!-- "created" -->
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor === 'created'"
        (click)="changeArrange('created')">
        <span *ngIf="compToSearch.Arrange === 'ASC'">
          資料建立日期<i class="fa fa-sort-asc ml-1"></i>
        </span>
        <span *ngIf="compToSearch.Arrange === 'DESC'">
          資料建立日期<i class="fa fa-sort-desc ml-1"></i>
        </span>
      </th>
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor !== 'created'"
        (click)="changeArrange('created')">
        資料建立日期 <i class="fa fa-unsorted"></i>
      </th>
      <!-- "updated" -->
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor === 'updated'"
        (click)="changeArrange('updated')">
        <span *ngIf="compToSearch.Arrange === 'ASC'">
          上次資料日期<i class="fa fa-sort-asc ml-1"></i>
        </span>
        <span *ngIf="compToSearch.Arrange === 'DESC'">
          上次資料日期<i class="fa fa-sort-desc ml-1"></i>
        </span>
      </th>
      <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor !== 'updated'"
        (click)="changeArrange('updated')">
        上次資料日期 <i class="fa fa-unsorted"></i>
      </th>
      <th class="text-center centered-th mx-auto p-2 perc15" scope="col" colspan=2>
        管理
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of fundingToList">
      <td>{{list.id}}</td>
      <td>{{list.company_name}}</td>
      <td>{{list.address}}</td>
      <td>{{list.investment_type}}</td>
      <td>{{list.announced_on}}</td>
      <td>{{list.raised_amount}}</td>
      <td>{{list.raised_currency_code}}</td>
      <td>{{list.post_amount}}</td>
      <td>{{list.post_currency_code}}</td>
      <td>{{list.capital_sought_amount}}</td>
      <td>{{list.capital_sought_currency_code}}</td>
      <td>{{list.investor_count}}</td>
      <td>{{list.investor_names}}</td>
      <td>{{list.url}}</td>
      <td>{{list.created}}</td>
      <td>{{list.updated}}</td>
      <td class="text-center">
        <button class="btn btn-outline-primary" tooltip="編輯" (click)="navigateToEdit(list)"><i class="fa fa-edit"></i></button>
        <button class="btn btn-outline-danger ml-2" tooltip="刪除" (click)="openModal(confirmDelete)"><i class="fa fa-remove"></i></button>
      </td>

      <!-- MODALS -->

      <ng-template #confirmDelete>
        <div class="modal-header">
          <h4 class="modal-title pull-left">刪除公司</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          請再次確認該筆資料是否正確？
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" (click)="deleteFunding(list.id)"><i class="fa fa-send"></i> 確認</button>
        </div>
      </ng-template>


    </tr>
  </tbody>
</table>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-10">
      <pagination [boundaryLinks]="true" [totalItems]="paging.TotalCount" [(ngModel)]="paging.CurrentPage" [maxSize]=10
        (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="{{paging.TotalPages}} &raquo;">
      </pagination>
    </div>
    <div class="col col-lg-2">
      <div class="form-group form-inline ml-2">
        <input class="form-control form-control-sm col-md-4" type="text" name="newpage" placeholder="Go to page"
          [(ngModel)]="gotopage">
        <button class="form-control form-control-sm btn btn-outline-primary ml-2" (click)="goToPage()"> <i
            class="fa fa-search"></i> 提交</button>
      </div>
    </div>
  </div>
</div>