<div class="mx-auto" style="width: 300px;">
  <img src="../../assets/logo.jpg">
</div>

<div class="text-center">
<form class="form-signin" (ngSubmit)="login()">

    <h1 class="h3 mb-3 font-weight-normal">請登錄</h1>

      <div class="form-group">

        <label class="sr-only">Email</label>
        <input class="form-control" placeholder="username@domain" name="email" type="text" [(ngModel)]="model.email" required autofocus>

      </div>
      <div class="form-group">

        <label class="sr-only">密碼</label>
        <input class="form-control" name="password" type="password" [(ngModel)]="model.password" required>

      </div>
      <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </div>
      <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
  </form>
</div>
