<app-nav (clearSearch)="OnChanges($event)"></app-nav>
<div class="container-fluid">
  <div class="row">
    <div class="col col-2" style="background-color: rgb(254, 254, 254)">
      <app-sidebar (statusChanged)="updateStatusListener($event)" [needRefresh]="menuNeedRefresh"></app-sidebar>
    </div>
    <div class="col {{fullscreen}}">
      <div class="form-inline mt-2" name="searchName">
        <ng-multiselect-dropdown [disabled]="companyStatus == 4" [placeholder]="'公司資料來源 (可複選)'" [data]="dropdownList"
          [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
          (onDeSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>

        <ng-multiselect-dropdown [disabled]="companyStatus == 4" class="ml-2" [placeholder]="'產業類別 (可複選)'"
          [data]="dropdownListIndustry" [(ngModel)]="selectedItemsIndustry" [settings]="dropdownSettings"
          (onSelect)="onItemIndustrySelect($event)" (onDeSelect)="onItemIndustrySelect($event)"
          (onSelectAll)="onSelectIndustryAll($event)">
        </ng-multiselect-dropdown>

        <!-- <input name="original" placeholder="公司成立日期" type="text" class="form-control ml-2" size="23px" bsDaterangepicker [(ngModel)]="bsRangeCValue" (ngModelChange)="processCDate($event)"> -->
        <input name="updated" placeholder="資料取得日期" type="text" class="form-control ml-2 mr-2" size="23px"
          bsDaterangepicker [(ngModel)]="bsRangePValue" (ngModelChange)="processPDate($event)">

      </div>

      <form class="form-inline mt-2">
        <!-- <button class="mb-2 mr-sm-2 btn btn-outline-info" (click)=toggleMenu()><i class="fa fa-bars"></i></button> -->
        <input class="form-control mb-2 mr-sm-2 col-md-6" type="search"
          placeholder="篩選條件：統編、公司名稱、產業類別、公司地區、標籤、公司簡介、媒體報導、主要商品/服務項目" name="toSearch" aria-label="Search"
          [(ngModel)]="compToSearch.ToSearch">
        <button class="btn btn-outline-primary mb-2 mr-sm-2" (click)="doSearch()"><i class="fa fa-search"></i>
          搜尋</button>
        <span *ngIf="writePermission > 0 || adminPermission > 0">
          <button class="btn btn-outline-danger mb-2 mr-sm-2" (click)="openModal(clearConfirmed)">重置確認狀態</button>
        </span>
        <button class="btn btn-outline-danger mb-2" tooltip="加新" (click)="navigateToAdd()">加入新公司</button>
        <a href="{{companyDownloadUrl}}" target="_blank" class="btn btn-outline-danger mb-2 ml-sm-2">匯出資料</a>
        <!-- <button class="btn btn-outline-danger mb-2" tooltip="找不到公司" (click)="navigateToFunding(0)">找不到公司</button> -->

        <!-- <div class="btn-group mb-2" dropdown [autoClose]="true" container="body">
          <button id="button-nested" dropdownToggle type="button" class="btn btn-outline-info dropdown-toggle ml-2"
            aria-controls="dropdown-nested">
            Menu <span class="caret"></span>
          </button>
          <ul id="dropdown-nested" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-nested">
            <li role="menuitem"><a class="dropdown-item" href="">公司基本資料管理</a></li>

            <li role="menuitem" dropdown triggers="mouseover" placement="right" container="body">
              <a dropdownToggle class="dropdown-item dropdown-toggle" (click)="false">募資紀錄管理<span class="caret"></span></a>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" (click)="navigateToFunding(0)">找不到公司</a></li>
              </ul>
            </li>
          </ul>
        </div> -->

      </form>

      <ng-template #clearConfirmed>
        <div class="modal-header">
          <h4 class="modal-title pull-left">重置公司資料更新狀態</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          確認重置狀態？
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" (click)="clearConfirmedCompany()"><i class="fa fa-send"></i> 確定</button>
        </div>
      </ng-template>

      <table class="table table-hover table-sm">
        <thead class="thead-dark">
          <tr>
            <!-- COMP_ID -->
            <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor === 'id'"
              (click)="changeArrange('id')">
              <span *ngIf="compToSearch.Arrange === 'ASC'">
                編號<i class="fa fa-sort-asc ml-1"></i>
              </span>
              <span *ngIf="compToSearch.Arrange === 'DESC'">
                編號<i class="fa fa-sort-desc ml-1"></i>
              </span>
            </th>
            <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor !== 'id'"
              (click)="changeArrange('id')">
              編號 <i class="fa fa-unsorted"></i>
            </th>
            <!-- TONPIEN -->
            <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor === 'comp_banno'"
              (click)="changeArrange('comp_banno')">
              <span *ngIf="compToSearch.Arrange === 'ASC'">
                統編<i class="fa fa-sort-asc ml-1"></i>
              </span>
              <span *ngIf="compToSearch.Arrange === 'DESC'">
                統編<i class="fa fa-sort-desc ml-1"></i>
              </span>
            </th>
            <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor !== 'comp_banno'"
              (click)="changeArrange('comp_banno')">
              統編 <i class="fa fa-unsorted"></i>
            </th>

            <!-- COMP_NAME -->
            <th class="centered-th mx-auto p-2 perc20" scope="col" *ngIf="compToSearch.ArrangeFor === 'comp_name'"
              (click)="changeArrange('comp_name')">
              <span *ngIf="compToSearch.Arrange === 'ASC'">
                公司名稱<i class="fa fa-sort-asc ml-1"></i>
              </span>
              <span *ngIf="compToSearch.Arrange === 'DESC'">
                公司名稱<i class="fa fa-sort-desc ml-1"></i>
              </span>
            </th>
            <th class="centered-th mx-auto p-2 perc20" scope="col" *ngIf="compToSearch.ArrangeFor !== 'comp_name'"
              (click)="changeArrange('comp_name')">
              公司名稱 <i class="fa fa-unsorted"></i>
            </th>

            <!-- COMP_ESTABLISHED_DATE -->
            <th class="centered-th mx-auto p-2 perc30" scope="col"
              *ngIf="compToSearch.ArrangeFor === 'established_date'" (click)="changeArrange('established_date')">
              <span *ngIf="compToSearch.Arrange === 'ASC'">
                公司成立日期<i class="fa fa-sort-asc ml-1"></i>
              </span>
              <span *ngIf="compToSearch.Arrange === 'DESC'">
                公司成立日期<i class="fa fa-sort-desc ml-1"></i>
              </span>
            </th>
            <th class="centered-th mx-auto p-2 perc30" scope="col"
              *ngIf="compToSearch.ArrangeFor !== 'established_date'" (click)="changeArrange('established_date')">
              公司成立日期 <i class="fa fa-unsorted"></i>
            </th>

            <!-- COMP_LOCATION -->
            <!-- <th class="centered-th mx-auto p-2 perc30" scope="col" *ngIf="compToSearch.ArrangeFor === 'comp_location'"
              (click)="changeArrange('comp_location')">
              <span *ngIf="compToSearch.Arrange === 'ASC'">
                公司地址<i class="fa fa-sort-asc ml-1"></i>
              </span>
              <span *ngIf="compToSearch.Arrange === 'DESC'">
                公司地址<i class="fa fa-sort-desc ml-1"></i>
              </span>
            </th>
            <th class="centered-th mx-auto p-2 perc30" scope="col" *ngIf="compToSearch.ArrangeFor !== 'comp_location'"
              (click)="changeArrange('comp_location')">
              公司地址 <i class="fa fa-unsorted"></i>
            </th> -->

            <!-- CAPITAL -->
            <th class="centered-th mx-auto p-2 perc15" scope="col" *ngIf="compToSearch.ArrangeFor === 'capital'"
              (click)="changeArrange('capital')">
              <span *ngIf="compToSearch.Arrange === 'ASC'">
                資本額<i class="fa fa-sort-asc ml-1"></i>
              </span>
              <span *ngIf="compToSearch.Arrange === 'DESC'">
                資本額<i class="fa fa-sort-desc ml-1"></i>
              </span>
            </th>
            <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor !== 'capital'"
              (click)="changeArrange('capital')">
              資本額 <i class="fa fa-unsorted"></i>
            </th>

            <!-- INDUSTRY -->
            <th class="centered-th mx-auto p-2 perc15" scope="col" *ngIf="compToSearch.ArrangeFor === 'comp_industry'"
              (click)="changeArrange('comp_industry')">
              <span *ngIf="compToSearch.Arrange === 'ASC'">
                產業類別<i class="fa fa-sort-asc ml-1"></i>
              </span>
              <span *ngIf="compToSearch.Arrange === 'DESC'">
                產業類別<i class="fa fa-sort-desc ml-1"></i>
              </span>
            </th>
            <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor !== 'comp_industry'"
              (click)="changeArrange('comp_industry')">
              產業類別 <i class="fa fa-unsorted"></i>
            </th>

            <!-- REPRESENTATIVE -->
            <th class="centered-th mx-auto p-2 perc15" scope="col" *ngIf="compToSearch.ArrangeFor === 'representative'"
              (click)="changeArrange('representative')">
              <span *ngIf="compToSearch.Arrange === 'ASC'">
                代表人<i class="fa fa-sort-asc ml-1"></i>
              </span>
              <span *ngIf="compToSearch.Arrange === 'DESC'">
                代表人<i class="fa fa-sort-desc ml-1"></i>
              </span>
            </th>
            <th class="centered-th mx-auto p-2 perc10" scope="col" *ngIf="compToSearch.ArrangeFor !== 'representative'"
              (click)="changeArrange('representative')">
              代表人 <i class="fa fa-unsorted"></i>
            </th>

            <th scope="col" class="text-center perc15">管理</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of compToList" [class.table-success]="list.confirmed == 1">
            <td (click)="openModal(template)">{{list.id}}</td>
            <td (click)="openModal(template)">{{list.comp_banno}}</td>
            <td (click)="openModal(template)">{{list.comp_name.substr(0, 4) + '...'}}</td>
            <td (click)="openModal(template)">{{list.established_date}}</td>
            <td (click)="openModal(template)">{{list.capital}}</td>
            <td (click)="openModal(template)">{{list.comp_industry}}</td>
            <td (click)="openModal(template)">{{list.representative}}</td>
            <td class="text-center">

              <i class="fa fa-border fa-external-link button button1" (click)="openModal(template)" tooltip="展開"></i>
              <i class="fa fa-border fa-money button button2" (click)="navigateToFunding(list.id)" tooltip="募資"></i>
              <span *ngIf="writePermission > 0 || adminPermission > 0">
                <i class="fa fa-border fa-edit button button3" (click)="navigateToEdit(list)" tooltip="編輯"></i>
                <i class="fa fa-border fa-save button button4" (click)="openModal(confirmKeep)" tooltip="保留"></i>
                <i class="fa fa-border fa-send button button5" (click)="openModal(confirmSend)" tooltip="送出"></i>
                <i class="fa fa-border fa-remove button button6" (click)="openModal(confirmDelete)" tooltip="刪除"></i>
              </span>
            </td>

            <ng-template #confirmSend>
              <div class="modal-header">
                <h4 class="modal-title pull-left">確認送出</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                請再次確認該筆資料是否正確？
              </div>
              <div class="modal-footer">
                <button class="btn btn-danger" (click)="confirmCompany(list.id)"><i class="fa fa-send"></i> 確認</button>
              </div>
            </ng-template>

            <ng-template #confirmKeep>
              <div class="modal-header">
                <h4 class="modal-title pull-left">確認保留</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                保留資料，不更新至前台？
              </div>
              <div class="modal-footer">
                <button class="btn btn-default" style="background-color: #FA6A00; color: white;"
                  (click)="confirmCompanyKeep(list.id)"> 保留 <fa-icon [icon]="faUserTimes" size="lg"
                    style="color: white !important; margin-left: 5px; "></fa-icon></button>
                <!-- <button class="btn btn-default" style="background-color: #FA6A00; color: white;" (click)="confirmCompanyKeep(list.id)"> 確認 <i class="fa fa-user-times fa-2x" style="color: white !important; margin-left: 5px; "></i></button> -->
              </div>
            </ng-template>

            <ng-template #confirmDelete>
              <div class="modal-header">
                <h4 class="modal-title pull-left">刪除公司</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                請再次確認該筆資料是否正確？
              </div>
              <div class="modal-footer">
                <button class="btn btn-danger" (click)="deleteCompany(list.id)"><i class="fa fa-send"></i> 確認</button>
              </div>
            </ng-template>

            <ng-template #template>
              <div class="modal-header">
                <h4 class="modal-title pull-left">{{list.comp_name}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="alert alert-dark m-2" role="alert">
                  <strong>編號</strong> : {{list.id}}
                </div>

                <div class="alert alert-dark m-2" role="alert">
                  <strong>統編</strong> : {{list.comp_banno}}
                </div>

                <div class="alert alert-dark m-2" role="alert">
                  <strong>產業類別</strong> : {{list.comp_industry}}
                </div>

                <div class="alert alert-dark m-2" role="alert">
                  <strong>公司地址</strong> : {{list.location}}
                </div>

                <div class="alert alert-dark m-2" role="alert">
                  <strong>公司成立日期 </strong> : {{list.established_date}}
                </div>

                <div class="alert alert-dark m-2" role="alert">
                  <strong>資本額</strong> : {{list.comp_amount}}
                </div>

                <div class="alert alert-dark m-2" role="alert">
                  <strong>員工人數</strong> : {{list.comp_employee}}
                </div>

                <!-- <div class="alert alert-success m-2" role="alert">
                  <strong>代表人</strong> : {{list.representative}}
                </div> -->

                <div class="alert alert-success m-2" role="alert">
                  <strong>聯絡人</strong> : {{list.comp_contact}}
                </div>

                <div class="alert alert-success m-2" role="alert">
                  <strong>電話</strong> : {{list.comp_tel}}
                </div>

                <div class="alert alert-success m-2" role="alert">
                  <strong>傳真</strong> : {{list.comp_fax}}
                </div>

                <div class="alert alert-success m-2" role="alert">
                  <strong>公司網址</strong> : {{list.comp_url}}
                </div>

                <div class="alert alert-success m-2" role="alert">
                  <strong>粉絲專頁(FB)</strong> : {{list.comp_extra_url}}
                </div>

                <div class="alert alert-success m-2" role="alert">
                  <strong>標籤(Yourator)</strong> : {{list.comp_tag}}
                </div>

                <div class="card m-2 border-success">
                  <div class="card-header">
                    公司簡介
                  </div>
                  <div class="card-body">
                    {{list.comp_desc}}
                  </div>
                </div>

                <div class="card m-2 border-success">
                  <div class="card-header">
                    媒體報導
                  </div>
                  <div class="card-body">
                    {{list.comp_media_report}}
                  </div>
                </div>

                <div class="card m-2 border-success">
                  <div class="card-header">
                    主要商品/服務項目
                  </div>
                  <div class="card-body">
                    {{list.comp_business}}
                  </div>
                </div>
                <div class="card m-2 border-success">
                  <div class="card-header">
                    品牌名牌
                  </div>
                  <div class="card-body">
                    {{list.comp_keyword}}
                  </div>
                </div>

              </div>
            </ng-template>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 25px">
  <div class="row text-center">
    <div class="col-2"></div>
    <div class="col col-sm-8">
      <pagination [boundaryLinks]="true" [totalItems]="paging.TotalCount" [(ngModel)]="paging.CurrentPage" [maxSize]=10
        (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="{{paging.TotalPages}} &raquo;">
      </pagination>
    </div>
    <div class="col col-sm-2">
      <div class="form-group form-inline">
        <input class="form-control form-control-sm col-md-4" type="text" name="newpage" placeholder="Go to page"
          [(ngModel)]="gotopage">
        <button class="form-control form-control-sm btn btn-outline-primary ml-2" (click)="goToPage()"> <i
            class="fa fa-search"></i> 提交</button>
      </div>
    </div>
  </div>
</div>